Flask
Flask-SQLAlchemy
flask_babel
langchain-core
langchain-groq
gdown
langdetect
gTTS
python-dotenv
numpy
pandas
requests
pydantic
pillow
gunicorn
openpyxl
feedparser
nltk
werkzeug>=2.0.0
python-dateutil
translate
tensorflow-cpu==2.17.0
joblib
beautifulsoup4
scikit-learn
apscheduler
influxdb-client

