Flask
sklearn
tensorflow
flask_babel
langchain-core
langchain-groq
gdown
langdetect
gTTS
python-dotenv
numpy
pandas
requests
pydantic
pillow
gunicorn
openpyxl
feedparser
nltk
gunicorn
werkzeug>=2.0.0
python-dateutil
